<div class="wrapper">
    <input type="text" appChecker #passwordInput placeholder="Enter your password">
    <div class="section_container">
        <div class="section"></div>
        <div class="section"></div>
        <div class="section"></div>
    </div>
    @if (passwordInput.value.length < 8 && passwordInput.value.length> 0 ) {
        <div class="error">Password should be longer than 8 characters</div>
        }
        @if (passwordInput.value.length === 0) {
        <div class="error">Enter password</div>
        }
</div>