:host{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.wrapper{
    width: 350px;
}

input{
    width: 100%;
    font-size: 22px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.section_container{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.section{
    height: 10px;
    width: 25%;
    margin: 5px;
    background-color: grey;
    border-radius: 4px;
}

.error{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
}

