:host{
    display: flex;
    justify-content: center;
}

input{
    width: 300px;
}

.section_container{
    display: flex;
    justify-content: space-between;

}

.section{
    height: 10px;
    width: 35px;
    margin: 5px;
    background-color: grey;
}