<div class="wrapper">
    <!-- <form #passwordForm="ngForm" (ngSubmit)="submit(passwordForm)" >
        
        <input type="text" appChecker>
        <button type="submit">Reset</button>
    </form> -->
    <input type="text" appChecker #passwordInput>
    <div class="section_container">
        <div class="section"></div>
        <div class="section"></div>
        <div class="section"></div>
    </div>
    @if (passwordInput.value.length < 8 && passwordInput.value.length> 0 ) {
        <div>To short</div>
        }
        @if (passwordInput.value.length === 0) {
        <div>Enter password</div>
        }
</div>