<div class="wrapper">
    <input type="text" appChecker #passwordInput placeholder="Enter your password">
    <div class="section_container">
        <div class="section"></div>
        <div class="section"></div>
        <div #lastSection class="section"></div>
    </div>
    @if (passwordInput.value.length < 8 && passwordInput.value.length> 0 ) {
        <div class="feedback">Password should be longer than 8 characters</div>
        }
        @if (passwordInput.value.length === 0) {
        <div class="feedback">Enter password</div>
        }
        @if (lastSection.style.backgroundColor === 'green') {
        <div class="feedback">Now your password is super safety!</div>
        }
</div>